@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    overflow-y: hidden;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,p,strong, span,html, body,i,div,table,tr,td,th,ul, ol, li, *
{
    font-family: Montserrat, Helvetica, Arial !important;
}
a, a:hover, a:active{
   text-decoration: none !important;
   color:#7f7f7f;
}
.login-container{
    margin-top: 80px;
}
.login-container .form-control{
    width: 460px !important;
}
.login-btn{
    width:100%;
    margin-top:26px;
}
.btn-success{
    background-color: #08c25d;
    border-color:#08c25d;
}
.logo-container{
    display: flex;
    justify-content: center;
    margin-bottom:18px;
}
.logo-container img
{
    width: 120px;
}
.form-control:focus{
    border-color: #08c25d;
    outline:none !important;
    box-shadow: none;
}
.nav-bar{
    width:100%;
    position:fixed;
    top:0px;
    background-color:#08c25d;
    color:white;
    padding: 8px 12px;
    display: flex;
    align-items: center;
}
.add-file
{
    background: white;
    width: 90px;
    border-radius: 16px;
    font-weight: 600;
    margin-left:196px;
}
.forders-list
{
    padding-left: 6px;
}
.forders
{
    height: 92vh;
    background: #f6f6f6;
    border-right: 2px solid #eee;
    padding: 10px 16px;
    overflow-y: scroll;
}
.dir-contents{
    height: 92vh;
    overflow-y: scroll;
}
.forders ul
{
    list-style: none;
}
.forders ul li
{
    font-size: 10pt;
    font-weight: 600;
    padding: 4px 0px;
    color: #5f605f;
}
.forders .icon
{
    color: #08c25d;
    font-size: 13pt;
    margin-right: 6px;
}
.thead-light{
    background-color: #f8f8f8;
}
th {
    font-size: 10pt;
}
.files-list td
{
    font-size: 10pt;
    font-weight: 600;
    color: #7f7f7f;
    padding: 11px 8px;
}
span.file-icon {
    color: #08c25d;
    font-size: 14pt;
    margin-right: 6px;
}
span.file-extension {
    color: #d3d5d4;
}
tr.active
{
    background-color:#f1faf5;
}
tr.active *
{
    color: #08c25d !important;;
}
.arrow
{
    margin-left: -14px !important;
    margin-right: 4px;
}
.context-menu {
    position: absolute;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 22px #ddd;
    border-radius: 6px;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
    border-bottom: 1px solid #ddd6;
}

.context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: left;
    padding: 12px 8px 10px 16px;
}

.context-menu ul li a {
    color: #555;
    font-size: 10.5pt;
    font-weight: 500;
}
.context-menu ul li .icon
{
    color: #abb3af;
    margin-right: 6px;
}
.context-menu ul li:hover {
    background: #f6f6f6;
}